@import "tailwindcss";

.green-drop-effect {
  position: relative;
  overflow: hidden;
}

.green-drop-effect::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300vw;
  height: 300vh;
  background-color: #38a169; /* Tailwind green-600 */
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-in-out;
}

.green-drop-effect.active::after {
  transform: translate(-50%, -50%) scale(1);
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #38a169;
  padding: 1rem;
}

.signup-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 28rem;
  width: 100%;
  padding: 1.5rem;
}

.signup-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5rem;
  text-align: center;
}

.signup-subtitle {
  color: black;
  margin-bottom: 0.75rem;
  text-align: center;
}

.error-message {
  color: #f56565;
  text-align: center;
}

.success-message {
  color: #48bb78;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  color: #4a5568;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
}

.signup-button {
  width: 100%;
  margin-top: 0.75rem;
  background-color: #2f855a;
  color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  cursor: pointer;
}

.signup-button:hover {
  background-color: #c53030;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-button:active {
  transform: scale(0.95);
}

.divider {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.divider-line {
  flex-grow: 1;
  border-top: 1px solid #e2e8f0;
}

.divider-text {
  font-size: 0.875rem;
  color: #a0aec0;
  margin: 0 0.5rem;
}

.google-signin-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 2px solid #38a169;
  color: black;
  box-sizing: border-box;
  transition: background-color 0.1s ease-in-out;
}

.google-signin-button:hover {
  background-color: #f0fff4;
}

.google-logo {
  width: 1.25rem;
  margin-right: 0.5rem;
}

.signin-text {
  font-size: 0.875rem;
  text-align: center;
  color: #a0aec0;
  margin-top: 1rem;
}

.signin-link {
  color: #2f855a;
  text-decoration: underline;
  transition: color 0.3s;
}

.signin-link:hover {
  color: #c53030;
}
